.quill {
  border: 1px solid var(--gray300);
  border-radius: 8px;
  overflow: hidden;
  height: 250px;
}

.ql-toolbar {
  background: var(--gray200);
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-container.ql-snow {
  height: 210px;
}
